<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarLauncher.EasyHelper" version="2.0.0" targetFramework="net48" />
  <package id="BarLauncher.EasyHelper.Wox" version="2.0.0" targetFramework="net48" />
  <package id="FluentDataAccess" version="2.1.1" targetFramework="net48" />
  <package id="FluentDataAccess.SQLite" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TextCopy" version="6.1.0" targetFramework="net48" />
  <package id="Wox.Plugin" version="1.3.159" targetFramework="net48" />
</packages>